body {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    background: url('images/bg.jpg') rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

html {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navbar {
    transition: all 0.5s;
    /* height: 70px; */
}

.navbar-scrolled {
    background-color: rgba(74, 72, 72, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.nav-item a:hover {
    color: #eaa720;
}

.dp {
    height: 400px;
}

.welcomeText {
    font-size: 50px;
}

.animateText {
    animation: slideInText 1s ease forwards 4000ms;
    opacity: 0;
    color: aliceblue
}

@keyframes slideInText {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animatePic {
    animation: slideInPic 1s ease forwards 3500ms;
    opacity: 0;
}

@keyframes slideInPic {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.about {
    background-color: aliceblue;
    width: 100%;
}

.progress {
    background-color: #dcdcdc;
}

.progress-bar {
    background-color: #eaa720;
}

.resume-item {
    border-left: 1px #000000 solid;
}

.resume-item:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0px;
    background: #fff;
    border: 2px solid #242525;
}

.resume-para {
    padding-left: 12px;
    padding-top: 10px;
    font-size: 16px;
    font-style: italic;
}

.item-head {
    padding-left: 10px;
    color: #eaa720;
    font-size: 20px;
}

.item-year {
    background-color: #dcdcdc;
    width: 100px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

.portfolio-image img:hover {
    transform: scale(1.2);
}

.portfolio-image img:hover+.img-info {
    opacity: 1;
}

.portfolio-image img {
    transition: transform 0.5s ease-in-out;
    align-items: center;
}

.img-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.prof {
    border: 1px #eaa720 solid;
    border-radius: 10px;
    /* width: 522px; */
    /* padding: 10px; */
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.9);

}

.cont {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.icon {
    color: #eaa720;
    padding-top: 32px;
    margin: 20px;
    border: 2px rgba(255, 255, 255, 0.3) solid;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

@media (max-width:991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }

    body {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    main {
        padding: 0;
        margin: 0;
        background: url('images/bg.jpg') rgba(0, 0, 0, 0.1);
        background-blend-mode: multiply;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .portfolio-image {
        align-items: center;
    }

    .portfolio-image img {
        width: 90%;
    }

    .prof {
        width: auto;
    }
}