body{
    background: url('images/bg.jpg') rgba(0, 0, 0, 0.1);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
}

.dp{
    height:400px;
}

.welcomeText{
    font-size: 50px;
}

.animateText {
    animation: slideInText 1s ease forwards 4000ms;
    opacity: 0;
    color:aliceblue
}

@keyframes slideInText {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.animatePic {
    animation: slideInPic 1s ease forwards 3500ms;
    opacity: 0;
}

@keyframes slideInPic {
    from {
        transform: translateX(50%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}